

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Thin.ttf') format('ttf');
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: 'Kanit', sans-serif;
    position: relative;
    background: #ffffff;
    font-size: 14px; }