@font-face {
  font-family: 'Sukhumvit';
  src: url('../fonts/SukhumvitSet-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Sukhumvit';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}
/* Extra Small Devices (xs) */
@media screen and (max-width: 575.98px) {
    /* Your CSS styles for extra small devices go here */
  }
  
  /* Small Devices (sm) */
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    /* Your CSS styles for small devices go here */
  }
  
  /* Medium Devices (md) */
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* Your CSS styles for medium devices go here */
  }
  
  /* Large Devices (lg) */
  @media screen and (min-width: 992px) and (max-width: 1199.98px) {
    /* Your CSS styles for large devices go here */
  }
  
  /* Extra Large Devices (xl) */
  @media screen and (min-width: 1200px) {
    /* Your CSS styles for extra large devices go here */
  }